#{JSON(@params[:data].value)['first_name']} #{JSON(@params[:data].value)['last_name']} has requested additional information about #{@params[:event].present? ? @params[:event] : "event"} and would like to be added to your email list.

Name:  #{JSON(@params[:data].value)['first_name']} #{JSON(@params[:data].value)['last_name']}
Email: #{JSON(@params[:data].value)['email']}