%p
  Hi #{@user.username},

%p
  Welcome to #{link_to 'Hipscan', 'http://hipscan.com', :class => 'hipscan'}! Ready to connect the real world to your digital identity?

%p
  Great.  #{hipscan} aims to merge the two worlds and have a great time doing it!

%p
  You signed up for the #{@user.subscription_plan} plan with the email address #{@user.email}.

%p
  To sign in again in the future, please return to the following URL and use the email address and password you used to create your account:

%p #{link_to 'http://hipscan.com/users/sign_in', 'http://hipscan.com/users/sign_in'}

%p
  Use your #{hipscan} to connect with friends.  Use your #{hipscan} to advertise a product/service.  
  Use your #{hipscan} to connect all of your online media.  #{hipscan} helps you tie all things digital – together!

%p
  And one more thing – put your #{hipscan} on everything you do – on your business card,
  on your email signature – a #{hipscan} even makes a cool piece of clothing!  
  Visit the #{link_to 'Hipscan Store', 'http://hipscan.socialprintshop.com', :class => 'hipscan'} to see all that you can order.

%p
  Also make sure to connect your Twitter™, Facebook™, LinkedIn™, and socialpda™ accounts for a quick way to get your friends in on the action.
  You can even add other sites you love to your profile!

%p
  We're really excited about #{hipscan} and we're sure you will be too.
  Drop us a line and let us know how you are using your #{hipscan} – myhipscan@hipscan.com

%p
  Have fun out there.

%p
  The #{hipscan} Team