- content_for :css do
  = stylesheet_link_tag 'realestate'
  
#header= link_to image_tag(field_value(:logo) || 'templates/restaurant/logo.png'), root_path
#content
  %br
  - if field_value(:profile_photo).present?
    = image_tag(field_value(:profile_photo), :style => 'width: 200px')
  %h1= field_value(:welcome_title) || "Main message title goes here!"
  %br
  %br
#footer
  .text Click the "Next" Button to See What You've Been Missing Out On!
  .buttons= link_to 'Next', template_page_path(@qr, @template_key, :agent_detail)
  .clear


