- content_for :css do
  = stylesheet_link_tag 'restaurant'

- if @field.to_s == 'find_us'
  = render :partial => "templates/#{@template_key}/#{@field.to_s}_page"
- else
  #template
    .header= link_to image_tag(field_value(:logo) || 'templates/restaurant/logo.png'), template_path(@qr)
    .call= link_to f = field_value(:phone_number), "tel:#{f}"
    .content
      .right= link_to 'Home', template_path(@qr)
      %h1= page_field_name(@field, @field)
      = simple_format page_field_value(@field, @field)
    .footer
      = raw field_value(:footer)
    .clear