- content_for :css do
  = stylesheet_link_tag 'university'
  
.content
  %h1= field_value(:event_name).present? ? field_value(:event_name) : "Event Name"
  .text= field_value(:description).present? ? field_value(:description) : "Fill in your name and contact details."
  = form_tag form_template_path(:qr => @qr, :template => @template_key) do 
    .field_box
      = hidden_field_tag :redirect_to, template_page_path(@qr, @template_key, :thank_you)
      .label= label_tag :first_name
      .field= text_field_tag :first_name
      .label= label_tag :last_name
      .field= text_field_tag :last_name
      .label= label_tag :email
      .field= text_field_tag :email
      .label= label_tag :phone_number
      .field= text_field_tag :phone_number
      .label= label_tag :phone_carrier
      .field= carrier_select(:phone_carrier, "Please choose a carrier")      
      .button.float_right= submit_tag 'Submit', :style => 'cursor: pointer;', :class => 'submit'
      .clear
#footer 
  Powered by<br>
  = image_tag 'hipscan-logo.png', :style => "width: 70px"