%table.twocol
  %tr
    %td{:style => 'width: 350px; padding-right: 10px'}
      %h1.hipscan= @qr.name
      #hipscan_qr
        = image_tag @qr.qr.url(:medium), :title => @qr.name
      %br

      -#%h2 What's Your Color?
        %div
          - for color in User::COLORS
            =# link_to color, color_qr_path(:color => color), :remote => true
            %a.change_color{:href => color_qr_path(:color => color), 'data-remote' => 'true'}
              .color_swatch
                .color_div{:style => "background-color:#{color}"}
      .cl


    %td
      #edit
        %h2 #{@template_key.to_s.titleize} Template Wizard
        -#%h2{:style => 'color: #888; margin: 10px 0'} Welcome to the Marketing Creation Wizard for Offline Engagement.  Simply Enter information into the Following Fields and The System Will Create a Downloadable PDF File Ready for Printing.



        = form_tag update_template_path(@qr, @template_key), :multipart => true do
          .profile_option
            - @template.each_key do |field|
              - case field_type(field)
                - when :string, :url
                  %p.template_string_field
                    = label_tag "#{@template[field][:field_name]}:"
                    = text_field_tag field_tag(field), field_value(field), :class => 'field_with_default', :title => field_title(field)

                - when :file
                  %p.template_file_field
                    = label_tag "#{@template[field][:field_name]}:"
                    = file_field_tag field_tag(field), :size => field_size(field)

                - when :text, :page
                  %p.template_file_field
                    = label_tag "#{@template[field][:field_name]}:"
                    = text_area_tag field_tag(field), field_value(field)

                - else
                  %p
                    Unhandled Field: #{field_name(field)}:#{field_type(field)}
            .save_and_continue= image_submit_tag 'buttons/save_and_continue.png'
            = link_to 'Cancel', templates_path
