- if request.referrer =~ /templates\/new$/
  #registration
    %table.twocol
      %tr
        %td{ :style => 'padding-right: 0px'}
          %ul.progress{:style => 'margin-left: 4%'}
            %li 1. Choose a template
            %li
              %b 2. Customize the template
            %li 3. Finish & start engaging customers

%div{:style => 'margin: 15px;'}
  %h2{:style => 'color: #888; margin: 10px 0'} Welcome To The Hipscan HTML5 Mobile Website Wizard
  Quick Tips: The preview on the right hand side will display how the information looks on a mobile browser.  After updating information, click the “Refresh Preview” button.  Your mobile website includes a main page (landing page) and several additional pages.  Click on the page you wish to update, then once you are happy with your creation, press the “Complete” button to publish to the world.  Remember, if you need help with marketing your Hipscan, we are here to help.
#registration
  %table.twocol
    %tr
      %td{ :style => 'width: 350px; padding-right: 0px'}
        #edit-template
          = form_tag update_template_path(@qr, @template_key), :multipart => true do
            = hidden_field_tag 'complete', ''
            .profile_option
              .page_template{:class => 'selected', :id => 'landing_page'}
                %h1 Landing page
                %h3 Begin customizing here:
                - @template.each_key do |field|
                  - case field_type(field)
                    - when :string, :url
                      %p.template_string_field
                        = label_tag "#{@template[field][:field_name]}:"
                        = text_field_tag field_tag(field), field_value(field), :class => 'field_with_default', :placeholder => field_title(field)
                    - when :file
                      %p.template_file_field
                        = label_tag "#{@template[field][:field_name]}:"
                        - if field_value(field).present?
                          .photo
                            = link_to 'remove existing', destroy_template_item_path(:qr => @qr, :template_item => field_id(field)), :method => :delete, :remote => true, :class => "item_id_#{field_id(field)}"
                            - @js_content << "$('.item_id_#{field_id(field)}').bind('ajax:success', function(){$(this).parent().hide();});"
                            %br
                            = image_tag(field_value(field), :style => 'width: 45%;')
                            %br
                            OR upload a new one
                        = file_field_tag field_tag(field), :size => field_size(field)
                    - when :text, :page
                      %p.template_file_field
                        = label_tag "#{@template[field][:field_name]}:"
                        = text_area_tag field_tag(field), field_value(field)
                    - else
                      - if field_type(field) != :page_content
                        %p
                          Unhandled Field: #{field_name(field)}:#{field_type(field)}
            = render :partial => 'templates/page_content'
                            
            .signup-button{ :style => 'margin: 0px 0 10px 5px; display: inline-block;'}= link_to 'Refresh Preview', 'javascript: $("form").submit();'
            .signup-button{ :style => 'margin: 0px 0 10px 5px; display: inline-block;'}= link_to 'Complete', 'javascript: $("#complete")[0].value = "true";$("form").submit();'
              
      %td{:style => 'width: 350px; padding-left: 15px'}
        #page-select
          %h2 #{@template_key.to_s.titleize == 'Real Estate' ? 'Consultant / Real Estate' : @template_key.to_s.titleize} Template Wizard
          %p
            Select the page to edit the information 
            %br
            (default page is 'Landing page'):

          .page_selector{:onclick => "$('#edit-template .page_template').hide();$('#landing_page').show();$('#page-select .page_selector.selected').removeClass('selected');$(this).addClass('selected');page_select('Landing Page');", :class => 'selected'} Landing Page
          - @template.each_key do |field|
            - if field_type(field) == :page_content
              .page_selector{:onclick => "$('#edit-template .page_template').hide();$('##{underscore(@template[field][:field_name])}').show();$('#page-select .page_selector.selected').removeClass('selected');$(this).addClass('selected');page_select('#{field}')"}= @template[field][:field_name]

        .preview-template
          #loading-preview{} Loading preview...
          %iframe#preview_panel{ :src => template_path(@qr), :scrollbars => "auto", :onload => "$('s#loading-preview').hide();" }
        = link_to 'Change Template', new_template_path

- content_for :js do
  :javascript
    #{@js_content}

    function page_select(selected_page) {
      if (selected_page == 'Landing Page') {
        $('#preview_panel').attr('src', 'http://#{APP_CONFIG[:host]}/template/'+ '#{@qr.id}');
      } else {
        $('#preview_panel').attr('src', 'http://#{APP_CONFIG[:host]}/template/'+ '#{@qr.id}' +'/' + '#{@template_key.to_s}' +'/page/' + selected_page);
      }
    }