-if current_user.template.present?
  = link_to 'cancel template selection', home_path
- else
  = shareasale_image current_user, current_account

  #registration
    %table.twocol
      %tr
        %td{ :style => 'padding-right: 0px'}
          %ul.progress{:style => 'margin-left: 4%'}
            %li
              %b 1. Choose a template
            %li 2. Customize the template
            %li 3. Finish & start engaging customers

.template_selection
  - if current_user.template.present?
    %h1 Select new template from the selection
  - else
    %h1 We're Ready to Create Your HTML5 Mobile Website
    %h3
      Choose One of the Templates Below:
      %br
      (Note: You’ll Be Able To Fully Customize All Information)

  .template_select
    = link_to image_tag('restaurant_template.png'), create_template_path(:qr => @qr, :template => 'restaurant')
    = link_to image_tag('real_estate_template.png'), create_template_path(:qr => @qr, :template => 'real_estate')
    = link_to image_tag('coupon_template.png'), create_template_path(:qr => @qr, :template => 'coupon')
    = link_to image_tag('university_template.png'), create_template_path(:qr => @qr, :template => 'university')
