#main
  #header1= link_to image_tag(field_value(:logo) || '/images/templates/realestate/logo.png'), template_path(@qr)
  #content1
    .title-outer
      .title Agent Detail Page
    .center= image_tag(photo) if (photo = page_field_value(:agent_detail, :photo)).present?
    %h1= page_field_value(:agent_detail, :name)
    %p= page_field_value(:agent_detail, :title)
    - if page_field_value(:agent_detail, :email).present?
      %p
        %span> e
        = mail_to page_field_value(:agent_detail, :email)
    - if page_field_value(:agent_detail, :phone_number).present?
      %p
        %span> t
        = link_to f = page_field_value(:agent_detail, :phone_number) || '', "tel:#{f}"
    - if page_field_value(:agent_detail, :phone_mobile_number).present?
      %p
        %span> m
        = link_to f = page_field_value(:agent_detail, :phone_mobile_number) || '', "tel:#{f}"
    %p
      %span -
    - if page_field_value(:agent_detail, :specialties).present?
      %p
        = page_field_value(:agent_detail, :specialties)
    - if page_field_value(:agent_detail, :office_address).present?
      %p
        %span office
        = page_field_value(:agent_detail, :office_address)
  #footer
    .previous.flot-left{:style => "width:40%;"}= link_to 'Previous', template_path(@qr)
    .buttons.flot-right{:style => "width:40%"}= link_to 'Next', template_page_path(@qr, @template_key, :agent_listing)
    .clear
