#premium_feauters
  .hr
  %h2 Business Marketer #{hipscan('s')}
  %br
  %br
  .mobile-website
    %h2 Mobile website
    - if current_user.template.present?
      = link_to 'Edit', edit_template_path(:qr => current_user.template.id, :template => current_user.template.template)
      |
      = link_to "Show", template_path(:qr => current_user.template.id)
      |
      = link_to 'Change template', new_template_path
    - else 
      = link_to 'Create Your Mobile Website NOW!', new_template_path
    %br
  - c = current_user.qrs.count
  %p
    You have created #{c} of 30 Marketing #{hipscan('s')}.
    
  - if c < 30
    %p= link_to "Create #{c == 0 ? 'One' : 'Another'} Now", new_qr_path

  - if c > 0
    -#%p= link_to "View your Marketing Hipscan Codes", qrs_path

    %table#qrlist.scaffold
      %tr
        %th Name
        %th{:style => 'text-align:right'} Actions
      - for qr in current_user.qrs
        %tr{:class => cycle('odd', 'even')}
          %td= link_to qr.name || 'New Hipscan', "/#{qr.code}"
          %td{:style => 'text-align:right'}
            = link_to 'Edit', edit_qr_path(qr)
            \|
            = link_to 'Marketing', marketing_qr_path(qr)
            \|
            = link_to 'Analytics', analytics_qr_path(qr)
            // \|
            // = link_to 'Templates', templates_path(qr)
            \|
            = link_to 'Delete', qr, :confirm => 'Are you sure?', :method => :delete