#services
  %h1.center Get Creative And Spread The Word About<br> Your Business With #{hipscan}!
  %br

  %p.center.large
    Let’s Get your #{hipscan} On Flyers, Real Estate Signs, Postcards, Direct Mail Campaigns,<br>
    T-shirts, Stickers And Practically Everywhere!<br>
    So Everyone Can Find Out About Your Business.

  %p The rule for widening your customer base has remained unchanged through time…

  %p
    %b …Get the word on your business out and let it spread like wildfire.

  %p <b>#{hipscan} Professional Services</b> can help you take advantage of QR code technology to reach more people on a wider scale than ever before with our <b>custom graphics solutions</b>.

  .lg_service_img
    = image_tag 'services/collageprint13.png'

  %ul.check
    %li
      %p
        Get your customers to involved by getting them to scan QR codes in your promotional materials <i>(the simple act of scanning a QR code is already a part of the pre-qualification process which aims to engage your customer)</i>

    %li
      %p
        Create a multi-dimensional image for your business by incorporating your #{hipscan} onto various media <i>(we can put your #{hipscan} on flyers, posters, inserts, postcards, stickers, signs, t-shirts and anywhere else where we can print!)</i>

    %li
      %p
        Make your giveaways and freebies market for you (if you’re planning to give away various items as a marketing strategy, make sure your giveaways actually DO marketing by adding your #{hipscan})

    %li
      %p
        Get your business to take advantage of the QR code madness and get a solid foothold on your market <i>(more and more people are becoming interested in QR codes so you need to catch their attention now while it’s still hot)</i>

  %p.center.large.cl Creative Marketing Just Got More Creative!
  %br

  %p.center People take their smartphones equipped with QR scanner apps everywhere.

  %p.center What does this mean to you?

  %p.center
    %b It means get your #{hipscan} in as many places as possible and the chances of it being scanned by prospective customers has just grown exponentially!

  %p.center Whatever your marketing needs are and wherever you want to have your #{hipscan} printed on, we’ll find a way to bring it to you and make your marketing dreams a reality.

  %p.darkblue.center
    %i
      Wanna know what kinds of media we can put your #{hipscan} on?
      #{link_to 'Click here', '/pdfs/HS_and_Retail.pdf', :target => '_blank'}.<br>
      We can create solutions based on your industry and target client!

  %br
  %p.center.large We Can Create Custom Graphic Designs<br>For Your Business Within 72 Hours!
  %br

  %p.center Right after you signup, one of our top-class marketing analysts will talk to you about your business and the general direction you’d want to take on your promotion.

  %p.center Together, you’ll then explore media possibilities where your #{hipscan} can be incorporated on – whether it’s coffee mugs, t-shirts, flyers, posters or whatever!

  %p.center Based on what will be agreed upon, your custom graphic designs will be produced and a marketing strategy will be devised for maximum dissemination.

  %p.center Depending on the project and the type of marketing you’re looking to implement, we’ll create your custom graphic designs, tie it in with your #{hipscan} and get the ball rolling on your viral campaign right away.

  %br
  %p.center.large Don’t Wait. Get Started Right Now!
  %br

  %p.center <b>Fees are project dependent.</b> Rest assured though, that we have the best prices and the best quality work in this class anywhere.
  %p.center.large
    %b Simply fill out the form below and one of our marketing experts will connect with you!

  = render :partial => 'services_request_form', :locals => {:request_type => 'Print'}

  %br
  %p.center
    %b As an added bonus, get a copy of, “Why Print? The Importance of Integrating Printed Materials into an Online Marketing Campaign!” Whitepaper available as an instant download.

  %p.center Wanta talk sooner?  Give us a call at 1-855-438-4477 (Toll-Free) and a live marketing consultant can address your needs.


-#
  %br
  %p.center.large Don’t Wait. Get Started Right Now!
  %br

  %p.center Depending on the project and the type of marketing you’re looking to implement, we’ll create your custom graphic designs, tie it in with your #{hipscan} and get the ball rolling on your viral campaign right away.

  %p <b>Fees are project dependent</b>. Rest assured though, that we have the best prices and the best quality work in this class anywhere.

  %p.center
    %b Simply click on one of the big orange buttons below to get started now.

  %p.center
    If you have questions, special marketing needs you want addressed or you want a custom quote for a specific #{hipscan}
    marketing campaign you might want to roll out, give us a call at 1-855-438-4477 (Toll-Free)
    or #{mail_to 'marketing@hipscan.com', 'shoot us an email'}
    and give us your primary phone number and the best time for us to call and we’ll get in touch with you the soonest possible time.

  %table.center{:style =>'width:100%; font-size: 16px; font-weight: bold'}
    %tr
      %td
        Postcard Design<br>
        %b $149
      %td
        Sign Design<br>(Real Estate or Other)<br>
        %b $149
      %td
        A4 2-Sided<br>Brochure Design<br>
        %b $249

    %tr
      %td
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="GY22XFZDHTQ7S"> <input type="image" src="http://dl.dropbox.com/u/9398260/buynow_small.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>

      %td
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="4VRKGZTX8RGJE"> <input type="image" src="http://dl.dropbox.com/u/9398260/buynow_small.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>

      %td
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="A937W3ZH9J7V8"> <input type="image" src="http://dl.dropbox.com/u/9398260/buynow_small.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>

  %br
  %br
  %table.center{:style =>'width:100%; font-size: 16px; font-weight: bold'}
    %tr
      %td
        One-Page<br>Flyer Design<br>
        %b $149
      %td
        Business Card Design<br>
        %b $79
      %td
        Envelope Design<br>
        %b $79

    %tr
      %td
        = link_to image_tag('buttons/buynow_small.png'), 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LD2QAERV22SPL'


      %td
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="D6JH8KM4NPUBE"> <input type="image" src="http://dl.dropbox.com/u/9398260/buynow_small.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>

      %td
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="SGD4USMYM9DXU"> <input type="image" src="http://dl.dropbox.com/u/9398260/buynow_small.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>

  %br
  %p
    %i #{mail_to 'marketing@hipscan.com', 'Contact us'} for a quote on projects not listed above.
