- content_for :js do
  = javascript_include_tag 'jquery.cycle.all.latest'

  :javascript
    $(document).ready(function(){
      $("#click").bind('click', function(){
        $("#popup").bPopup();
        return false
      });

      $('#qr0').cycle({
        fx: 'fade',
        timeout: 6000
      });


    });

%table.twocol
  %tr
    %td{:style => 'width: 50%; padding-right: 40px'}
      %h1{:style => 'font-size: 37px; font-weight: bold;'} Connect the real world with your digital identity
      %br
      %p{:style => 'font-weight: bold;'}
        A #{hipscan} sends mobile devices to your website, social
        profile, or anything else online. The best part is that you
        can change it any time you want!

      .create-hipscan-today
        Create your Hipscan Today
        .signup-button= link_to 'It\'s free!', plans_path
        = image_tag('plan-arrow.png')
    %td
      #hipscan_qr
        .home_qr#qr0
          = image_tag 'qr_slide_1.png', :title => 'http://hipscan.com'
          = image_tag 'qr_slide_2.png', :title => 'http://hipscan.com'
          = image_tag 'qr_slide_3.png', :title => 'http://hipscan.com'
          = image_tag 'qr_slide_4.png', :title => 'http://hipscan.com'
          = link_to image_tag('qr_slide_5.png', :title => 'http://hipscan.com'), "/qr-university"
= render :partial => 'plan'