- content_for :js do
  = javascript_include_tag 'jquery.cycle.all.latest'

  :javascript
    $(document).ready(function(){
      $("#click").bind('click', function(){
        $("#popup").bPopup();
        return false
      });

      $('#qr0').cycle({
        fx: 'fade'
      });


    });

%table.twocol
  %tr
    %td{:style => 'width: 50%; padding-right: 40px'}
      %h1{:style => 'font-size: 37px; font-weight: bold;'} Connect the real world with your digital identity
      %br
      %p{:style => 'font-weight: bold;'}
        A #{hipscan} sends mobile devices to your website, social
        profile, or anything else online. The best part is that you
        can change it any time you want!

      .create-hipscan-today
        Create you Hipscan Today
        .signup-button= link_to 'It\'s free!', plans_path
        = image_tag('plan-arrow.png')
    %td
      #hipscan_qr
        .home_qr#qr0
          = image_tag 'qr_slide_1.png', :title => 'http://hipscan.com'
          = image_tag 'qr_slide_2.png', :title => 'http://hipscan.com'
          = image_tag 'qr_slide_3.png', :title => 'http://hipscan.com'
          = image_tag 'qr_slide_4.png', :title => 'http://hipscan.com'
          = link_to image_tag('qr_slide_5.png', :title => 'http://hipscan.com'), "#"
%table{ :style => 'padding-top: 20px'}
  %tr
    %td         
      .packages
        .plan
          .price-sticker= image_tag('business_sticker_price.png')
          .icons= image_tag('product-icons.png')
          .content
            %h2 Product Marketer
            %p
              %b Create and track
              up to
              %b 30 Hipscan QR codes
              within a single account. Each product can be tied into a URL or to a video, image or text destination.
            %p
              %b Make a custom
              product call-out card for each product if you desire.
          %hr
          %p{:style => 'text-align:right;'}= link_to 'Get Started!', new_account_path(:plan => 'Business', :discount => params[:discount])
        .plan
          .price-sticker= image_tag('product_sticker_price.png')
          .icons= image_tag('business-icons.png')
          .content
            %h2 Business Marketer
            %p
              %b Create a custom HTML5 Mobile Website
              or Mobile Coupon showcasing your product.
            %p
              %b Beautiful templates
              availbale for each industry makes it easy to get started.
          %hr{ :style => 'margin-top: 31px;'}
          %p{:style => 'text-align:right;'}= link_to 'Get Started!', new_account_path(:plan => 'Business', :discount => params[:discount])