#services
  %h1.center
    Widen Your Target Audience With Mobile Websites<br>
    Accessible With #{hipscan}!
  %br

  %p.center.large
    Get More Customers Right At Your Doorstep<br>
    By Bringing Your Business Right At Their Mobile Devices!

  %p.center With daily essential gadgets such as iPhones and Android phones becoming more and more widely used as a means to access the web, businesses should adapt accordingly in order to take advantage of this opportunity to broaden their marketing range.

  %p.center With <b>#{hipscan} Professional Services</b>, we can help you create mobile websites for your business specifically designed to be accessed through QR codes scanned using most mobile devices.

  .lg_service_img
    = image_tag 'services/collagemobile13.png'

  %ul.check
    %li
      %p This relatively new technology has been proven to be a <b>highly cost-effective way to conduct mobile marketing</b> in terms of ROI and meeting performance projections. <i>(it has relatively lower cost and way higher income potential)</i>

    %li
      %p <b>It drastically broadens the reach of your marketing efforts</b> as it actually brings your business to your customers <i>(practically every smartphone user now qualifies as a potential client!)</i>

    %li
      %p <b>This also capitalizes in the huge smartphone app market</b> since QR code scanners come in the form of smartphone apps <i>(this is a great way to take advantage of a current fad in your marketing campaign)</i>

    %li
      %p <b>No need to rely on your web-based marketing efforts lying in wait for customers to come online on their PCs or to rely on your customers to remember to check your site out after they see it on the TV or somewhere else.</b> <i>(With QR codes, as soon as they scan it, their mobile device automatically takes them to the custom mobile website, thus making the marketing process smooth, uninterrupted and brimming with urgency!)</i>

  %p.center.large.cl This Takes Mobile Marketing To A Whole New Level!
  %br

  %p.center MMS, SMS and other text-based marketing campaigns are not enough because they usually just remind customers to go online and check out a certain website.

  %p.center With QR codes, as soon as the customer scans it, he is automatically taken to your mobile website to take advantage of a special you’re running, read a review you’ve written, check out an affiliate product you’re selling, try a new service for free – <b>the possibilities are endless!</b>

  %p.darkblue.center
    %i
      Wanna know what Hipscan Professional Services can actually do to a wide range of businesses?
      #{link_to 'Click here', '/pdfs/HS_and_Real_Estate.pdf', :target => '_blank'}.

  %br
  %p.center.large We Can Create Custom Mobile Websites<br>For Your Business Within 48 Hours!

  %p.center Right after you signup, one of our top-class marketing analysts will talk to you about your business and the general direction you’d want to take on your promotion.

  %p.center As soon as you give us the green light, our team of well-trained and highly skilled professionals starts work on your custom mobile websites right away.

  %p.center Within 48 hours, we’ll be ready to present to you your custom mobile website for final approval.

  %p.center After which, we can begin the main phase of the promotion which is to tie this custom mobile website with your #{hipscan} and get it to as wide an area as possible.

  %br
  %p.center.large Don’t Wait. Get Started Right Now!
  %br

  %p.center For a one-time payment of as low as only $299, we’ll create your custom mobile website, tie it in with your #{hipscan} and get the ball rolling on your viral campaign right away.
  %p.center.large
    %b Simply fill out the form below and one of our marketing experts will connect with you!

  = render :partial => 'services_request_form', :locals => {:request_type => 'Mobile'}

  %br
  %p.center
    %b As an added bonus, get a copy of, “Why Mobile? The Importance of an Effective Mobile Presence For Your Business!” Whitepaper<br> available as an instant download.

  %p.center Wanta talk sooner?  Give us a call at 1-855-438-4477 (Toll-Free) and a live marketing consultant can address your needs.


-#
  %p.center For a setup fee of only $149 (and a monthly hosting fee of $9), we’ll create your custom mobile website, tie it in with your #{hipscan} and get the ball rolling on your viral campaign right away.

  %p.center
    %b Simply click on the big orange button below to get started now.

  %p.center
    If you have questions, special marketing needs you want addressed or you want a custom quote for a specific #{hipscan}
    marketing campaign you might want to roll out, give us a call at 1-855-438-4477 (Toll-Free)
    or #{mail_to 'marketing@hipscan.com', 'shoot us an email'}
    and give us your primary phone number and the best time for us to call and we’ll get in touch with you the soonest possible time.

  .center
    :plain
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="UKJWQG9V5PHXU"> <input type="image" src="http://dl.dropbox.com/u/9398260/subscribe_small.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>
