#services
  %h1.center Bring Your Video Marketing To Your Target Audience Anywhere With #{hipscan}!
  %br

  %p.center.large
    Unleash Viral Marketing Magic By Having Your #{hipscan} Point To A Custom Video Designed To Create A Feeding Frenzy In Your Specific Market!

  .lg_service_img
    = image_tag 'services/collagevideo13b.png'

  %ul.check

    %li
      %p
        %b
          90 to 95% of your target market use smartphones
        (ie: iPhones or Android phones) and they spend relatively more time with it than with their personal computers. <i>(you don’t see a lot of people stuck on their laptops more than their smartphones while on the go, right?)</i>

    %li
      %p
        %b
          About 65 to 80% of this number is familiar with QR codes and how they are used.
        The remaining people who don’t will surely be able to catch up easily as this requires zero technical skills at all. <i>(c’mon, it’s practically point-and-scan!)</i>

    %li
      %p
        %b
          This is a relatively new technology that will most certainly catch up with the marketing community in no time at all
        what with the main tool used to scan and read QR codes in smartphone app form! <i>(just think “Angry Birds!)</i>

    %li
      %p
        With this, instead of reaching your target audience only when they’re in front of their PC,
        %b
          you’ll be able to get customers to watch your video from practically anywhere!
        <i>(as long as your QR code is there and they have network coverage, your marketing video will just be a scan away!)</i>

  %p.center.large.cl You And Your Business Will Be Right In Front Of<br>A Video Marketing Revolution!
  %br
    
  %p.center
    %b You’ll be jumping light years ahead of your competition and you’ll be securing a wider customer base.

  %p.center Just imagine…

  %p.center …Before TV ads, the main way by which business owners advertised their products was through flyers and word of mouth.

  %p.center But as soon as television advertisements became in vogue, things dramatically changed and those who jumped first into the bandwagon enjoyed prime rewards than those who were initially skeptical.

  %p.center
    %b We are in the middle of the same marketing revolution with QR codes!

  %p.center
    %b And with #{hipscan} Professional Services, you get to be among the pioneers!

  %p.darkblue.center
    %i
      Wanna know what #{hipscan} Professional Services did for Verizon Wireless?<br>
      #{link_to 'Click here', '/pdfs/HS_and_Wireless.pdf', :target => '_blank'}.

  %br
  %p.center.large We Can Create Highly Converting Custom Videos<br> For Your Business In Just 10 Days Or Less!
  %br

  %p.center Right after you signup, one of our top-class marketing analysts will talk to you about your business and the general direction you’d want to take on your promotion.

  %p.center Based on that, a marketing plan will be developed and presented to you for approval.

  %p.center As soon as you give us the green light, our team of well-trained and highly skilled professionals starts work on your custom marketing video right away.

  %p.center Just after 10 days (or less!), we’ll be ready to present to you your custom video for final approval.

  %p.center After which, we can begin the main phase of the promotion which is to tie this custom video with your #{hipscan} and get it to as wide an area as possible.  And your video will also help you obtain better search engine results as a result of our Video SEO program!

  %br
  %p.center.large Don’t Wait. Get Started Right Now!
  %br

  %p.center For a one-time payment of as low as only $399, we’ll create your<br> custom marketing video, tie it in with your #{hipscan} and<br> get the ball rolling on your viral campaign right away.
  %p.center.large
    %b Simply fill out the form below and one of our marketing experts will connect with you!

  = render :partial => 'services_request_form', :locals => {:request_type => 'Video'}

  %br
  %p.center
    %b As an added bonus, get a copy of, “Why Video? The Benefits of Video Creation For Your Business!” Whitepaper available as an instant download.
  %p.center Wanta talk sooner?  Give us a call at 1-855-438-4477 (Toll-Free) and a live marketing consultant can address your needs.
  
-#
  %p.center For a one-time payment of as low as only $399, we’ll create your custom marketing video, tie it in with your #{hipscan} and get the ball rolling on your viral campaign right away.

  %p.center
    %b Simply click on the big orange button below to get started now.

  %p.center
    If you have questions, special marketing needs you want addressed or you want a custom quote for a specific #{hipscan}
    marketing campaign you might want to roll out, give us a call at 1-855-438-4477 (Toll-Free)
    or #{mail_to 'marketing@hipscan.com', 'shoot us an email'}
    and give us your primary phone number and the best time for us to call and we’ll get in touch with you the soonest possible time.

  %br
  %table.center{:style =>'width:100%; font-size: 16px; font-weight: bold'}
    %tr
      %td
        Custom Business Video Creation<br>(1 minute production)<br>
        %b $399

      %td
        Custom Business Video Creation<br>(2 minute production) + Video SEO<br>
        %b $649

    %tr
      %td
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="RX55NAT9VFDS8"> <input type="image" src="http://dl.dropbox.com/u/9398260/buynow_small.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>

      %td
        :plain
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="G3JEK2ATDHPH6"> <input type="image" src="http://dl.dropbox.com/u/9398260/buynow_small.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>
