<%= wiki_page_style %>

<h1><%=h @page.title %></h1>


<% if logged_in? and current_user.admin? %>  
<%= wiki_page_info %>
<%= wiki_page_actions %>
  
<% end %>

<div class="wiki_content">
  <%=raw insert_presentation(wiki_content(@page.content)) %>
</div>