#header= link_to image_tag(field_value(:logo) || 'templates/coupon/logo.png'), root_path
.content
  .offer_box
    .offer-title
    .offer-coupons
      .frame
        %h2= page_field_value(:offer, :welcome_title)
        %h1{:style => 'width:200px; display: block; margin: 0 auto;'}= page_field_value(:offer, :offer_title)
        - if page_field_value(:offer, :coupon_code) != ''
          %p
            Use Coupon Code
            %span= page_field_value(:offer, :coupon_code)
      %p{:style => "display: block; width: 200px; margin: 0 auto;"}= page_field_value(:offer, :coupon_description)
    %h1 Connect with us below to stay in touch
    .social
    %ul
      - if page_field_value(:offer, :facebook).present?
        %li= link_to image_tag('templates/coupon/facebook-icon.png', :alt => 'Facebook'), page_field_value(:offer, :facebook)
      - if page_field_value(:offer, :twitter).present?
        %li= link_to image_tag('templates/coupon/twitter-icon.png', :alt => 'Twitter'), page_field_value(:offer, :twitter)
      - if page_field_value(:offer, :youtube).present?
        %li= link_to image_tag('templates/coupon/you-tube-icon.png', :alt => 'You Tube'), page_field_value(:offer, :youtube)
      .clear
    .contact_icon.float_left= image_tag('templates/coupon/contact-icon.png', :alt => 'contact')
    .contact.float_right
      %ul  
        - if page_field_value(:offer, :phone_number).present?
          %li= link_to page_field_value(:offer, :phone_number), "tel:#{page_field_value(:offer, :phone_number)}"
        - if page_field_value(:offer, :email).present?
          %li= link_to page_field_value(:offer, :email), "mailto:#{page_field_value(:offer, :email)}"
        - if page_field_value(:offer, :website).present?
          %li= link_to page_field_value(:offer, :website), page_field_value(:offer, :website)
    .clear
#footer= field_value(:copyright).present? ? field_value(:copyright) : "Copyright &copy; 2011 All Rights Reserved."