%h1 #{hipscan} Users

%p
  There are currently
  %b #{User.count} Registered #{link_to 'Users', admin_users_path}.
%p= link_to 'Export CSV', admin_users_path(:format => 'csv')

%table.scaffold
  %tr.th
    %th Username
    %th Option
    %th Email
    %th Created
    %th Scans
    %th
    
  - for u in @users
    %tr{:class => cycle('odd', 'even')}
      %td
        - if u.username.blank?
          Incomplete
        - else
          = link_to u.username, "/#{u.username}?noscan=1"
        %span{:style => 'font-size: 9px'}
          %b= link_to 'SWITCH TO', admin_user_switch_to_path(u)
      %td= u.profile_option.humanize if u.profile_option
      %td= u.email
      %td= time_ago_in_words(u.created_at)
      %td= u.scans.count
      %td
        %span{:style => 'font-size: 9px'}
          %b= link_to 'DELETE', admin_user_path(u), :method => :delete, :confirm => 'Delete user?'


= will_paginate @users
