#footer
  .fr
    = link_to image_tag('icon_facebook.png', :style => 'margin-right:10px'), 'http://www.facebook.com/#!/pages/hipscancom/156522207727893', :target => '_blank'
    = link_to image_tag('icon_twitter.png', :style => ''), 'http://twitter.com/#!/hipscan', :target => '_blank'
  .fr.hipscans
    Hipscan&#0153;  &copy #{Date.today.year}, a Buzz Social Media Corporation

  = link_to 'Blog', 'http://blog.hipscan.com'
  |
  = link_to 'Contact', contact_path
  |
  = link_to 'About', about_path
  |
  = link_to 'Full-Service Marketing', services_path
  |
  = link_to 'Privacy Policy', privacy_policy_path
  |
  = link_to 'Terms of Use', terms_of_use_path    
  |
  = link_to 'Support', 'support.hipscan.com'
  |
  = link_to 'Affiliates', 'http://www.shareasale.com/shareasale.cfm?merchantID=37263'