!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    = csrf_meta_tag
    /
      Always force latest IE rendering engine (even in intranet) &amp; Chrome Frame
      Remove this if you use the .htaccess_boilerplate
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    = yield :meta
    %title= @title || "Free QR Code Generator | QR Code Marketing -  Hipscan.com"
    = render :partial => 'layouts/meta'
    / Mobile viewport optimized: j.mp/bplateviewport
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
    / CSS: implied media="all"
    
    = stylesheet_link_tag "style", "application", :media => "all", :cache => "styles"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 9]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    
    = yield :css
    = javascript_include_tag "modernizr", "respond", :cache => "modernizer-respond"
  %body
    #layout
      = render :partial => 'layouts/header'
      #content
        - if controller.controller_path.starts_with?('saas_admin')
          %ul{ :style => 'color: black;'}
            %li= link_to('Subscriptions', saas_admin_subscriptions_path)
            %li= link_to('Accounts', saas_admin_accounts_path)
            %li= link_to('Plans', saas_admin_subscription_plans_path)
            %li= link_to('Discounts', saas_admin_subscription_discounts_path)
            %li= link_to('Affiliates', saas_admin_subscription_affiliates_path)
            %li= link_to("Log out #{current_user.email}", destroy_user_session_path)
        = yield
        .cl
      .cl
      = render :partial => 'layouts/footer'

    / ! end of #container
    / JavaScript at the bottom for fast page loading
    = javascript_include_tag :defaults, 'https://connect.facebook.net/en_US/all.js#xfbml=1', 'jquery.printElement.min', 'jquery.bpopup-0.5.1.min', 'jquery.backstretch.min' #, :cache => true
    = yield :js
    = yield :js2
    - unless current_page?(root_url)
      = render :partial => 'layouts/uservoice'
    = render :partial => 'layouts/google_analytics'