!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "user-scalable=yes, width=device-width", :name => "viewport"}/
    = stylesheet_link_tag 'mobile'
    = javascript_include_tag :defaults
    %title Hipscan
    = yield :head
  %body
    %header
      %nav
        = link_to image_tag("main-logo.png", :alt => "Hipscan", :border => "0"), root_path
        %ul.menu
          %li
            = button_to "Sign In", mobile_login_path
        %ul#sm_1.submenu
          %li= link_to '', "http://twitter.com/#!/hipscan", :class => 'tw', :target => '_blank'
          %li= link_to '', "http://www.facebook.com/#!/pages/hipscancom/156522207727893", :class => 'fb', :target => '_blank'
    %section#wrapper
      = yield
    %footer
      = link_to 'Blog', 'http://blog.hipscan.com'
      |
      = link_to 'Contact', contact_path
      |
      = link_to 'About', about_path
      |
      = link_to 'Full-Service Marketing', services_path
      |
      = link_to 'Privacy Policy', privacy_policy_path
      |
      = link_to 'Terms of Use', terms_of_use_path
      |
      = link_to 'Support', 'http://support.hipscan.com'
      %br
      Hipscan&trade; &copy;2012, a Buzz Social Media Corporation
    = render :partial => 'layouts/google_analytics'
