#billing
  %table.twocol
    %tr
      %td{:style => 'border-right: 2px solid #f36d21; padding-right: 20px'}
        %h1 Create an account
        %p Note that the 'username' you choose will also be used in your URL.  This cannot be changed later, so make sure to pick your ideal choice.
        = form_for @account, :url => { :action => 'create' }, :style => 'margin-left: 15px;' do |account|
          = hidden_field_tag 'plan', params[:plan]
          - if @account.errors.any?
            .errorExplanation
              %h2 Errors encountered with your account information:
              = raw(@account.errors.full_messages.each {|s| s.gsub! /Admin/, 'User'}.join(',<br/>'))
          %fieldset
            = account.fields_for :admin do |admin|
              %p
                = admin.label :username
                %br
                = admin.text_field :username
              %p
                = admin.label :email
                %br
                = admin.text_field :email
              %p
                = admin.label :password
                %br
                = admin.password_field :password
              %p
                = admin.label :password_confirmation
                %br
                = admin.password_field :password_confirmation
          - if @account.needs_payment_info?
            %p
              Your card will be charged #{number_to_currency(@account.plan.setup_amount) + ' now and ' if  @account.plan.setup_amount? && !@account.plan.trial_period?} #{number_to_currency(@account.plan.amount)}
              \#{@account.plan.renewal_period == 1 ? 'every month' : "every #{@account.plan.renewal_period} months"} until you cancel the subscription.
            %p 
              Please enter your payment information
            = render :partial => "shared/credit_card_form"
          %br/
          %fieldset
            = label_tag :discount, "Discount Code"
            %br
            = text_field_tag :discount, params[:discount]
          %br/
          %fieldset
            .signup-button= link_to 'Create my account', 'javascript: $("form").submit();'
      %td{ :style => 'width: 50%; padding: 30px 30px;' }
        %p{:style => 'font-weight: 600;'} 
          You are signing up for a 
          = params[:plan]
          Trial account.
        %p 
          = link_to "Click here", plans_path
          to select another plan or view plan details.
        
        Already have an account?
        %br
        Login 
        = link_to 'here', new_user_session_path
        to access your Hipscan account.