#billing
  - if @subscription && @subscription.errors.any?
    .errorExplanation
      %h2 Errors encountered with your change:
      %ul
        = raw(@subscription.errors.full_messages.map {|m| content_tag('li', m)})
  
  %h1
    - if request.referrer =~ /home$/
      = @page_title = 'Change Plan'    
    - else
      = @page_title = 'Upgrade Your Plan'    
  %p
    You are currently subscribed to the
    = succeed "." do
      %b
        = @subscription.subscription_plan.name
      Plan
    You can change your plan at anytime.  Even if you think you will not use your Hipscan, we’ve realized that 70% of users want to run a promotion in the future, hence, just change your plan to the Basic plan, which is free.  Your account change will take place immediately.
    - if @subscription.amount != 0
      %p
        Your next bill date is 
        %b #{@subscription.next_renewal_at.strftime('%m-%d-%Y')}.
  - if @subscription.needs_payment_info?
    %p{:style => "padding-top:1em"}== Please make sure you #{link_to('enter your billing information', billing_account_path)} before your bill date to prevent an interruption in service.
  
  = form_tag plan_account_url do
    %fieldset
      %legend Choose Plan
      %select{:name => "plan_id", :onChange => "enableButton()"}
        %option{:value => ""}
        - @plans.each do |plan|
          <option value="#{plan.id}"#{'disabled="disabled"' unless current_account.qualifies_for?(plan)}>#{plan}
    %fieldset#submit_or_cancel
      %input#commit{:disabled => "disabled", :name => "commit", :type => "submit", :value => "Change my plan", :class => 'signup-button', :style => 'margin-top: 15px; font-size: 15px;'}/
      or
      %a{:href => "/account"} Cancel
  %script{:charset => "utf-8", :type => "text/javascript"}
    function enableButton() {
    document.getElementById('commit').disabled = document.forms[0].elements['plan_id'].selectedIndex == 0
    }
    enableButton();
