- if current_account.subscription.amount > 0 and current_user.created_at > 5.minutes.ago
  = img_tag "https://shareasale.com/sale.cfm?amount=#{current_account.subscription.amount}&tracking=#{current_account.id}&transtype=sale&merchantID=37263", :width => "1", :height => "1"

%h1 Account created
%p
  Thank you for creating an account!  You can now log in to your account at
  = succeed "." do
    %a{:href => "http://#{flash[:domain]}.#{Saas::Config.base_domain}/"}
      http://#{flash[:domain]}.#{Saas::Config.base_domain}/
